
{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container">

<div class="intro-banner-wrap">
	<img src= "{%static 'images/banners/1.jpg'%}" class="img-fluid rounded">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store'%}" class="btn btn-outline-primary float-right">Ver Todo</a>
	<h3 class="section-title">Productos populares</h3>
</header><!-- sect-heading -->

	
<div class="row">

	{% for product in products %} <!-- la variable voy a tomar la informacion directa de la base de datos-->
	<div class="col-md-3">  <!-- Se manipulara con un solo contenedor de objetos-->
		<div class="card card-product-grid"> <!--con la funcion {{ product.get_url }} al darle clic a las imagenes ya podemos navegar por las urls automaticamente-->
			<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.images.url}}"> </a> <!--agregar imagen desde db-->
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{product.product_name}}</a> <!--al agregar los dobles corchetes se imprimira el valor directo de la db-->
				<div class="price mt-1">{{product.price}}</div> <!-- agregar precio base de datos -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %} <!--culminacion del ciclo de la base de datos -->
	

</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}